@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(178, 183, 187);
    font-size: 18px;
    font-weight: bolder;
}

h1 {
    text-align: center;
    padding: 20px;
}

.calculator {
    width: 400px;
    border: 3px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px repeat(5, 60px);
    grid-template-areas: "display display display display" "clear negative percent divide" "seven eight nine multi" "four five six minus" "one two three sum" "zerro zerro decimall equal";
}

.display {
    background-color: black;
    color: rgb(238, 238, 238);
    text-align: right;
    padding-right: 20px;
    padding-top: 30px;
    grid-area: display;
    border: 1px solid;
    border-radius: 20px 20px 5px 5px;
    font-size: 35px;
    overflow: hidden;
}

#clear {
    grid-area: clear;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

#negative {
    grid-area: negative;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 1px;
}

#percent {
    grid-area: percent;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 1px;
}

#divide {
    grid-area: divide;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#seven {
    grid-area: seven;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#eight {
    grid-area: eight;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#nine {
    grid-area: nine;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#multiply {
    grid-area: multi;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#four {
    grid-area: four;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#five {
    grid-area: five;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#six {
    grid-area: six;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#minus {
    grid-area: minus;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#one {
    grid-area: one;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#two {
    grid-area: two;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#three {
    grid-area: three;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#sum {
    grid-area: sum;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#zero {
    grid-area: zerro;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px 5px 5px 20px;
}

#decimal {
    grid-area: decimall;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}

#equal {
    grid-area: equal;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px 5px 17px 5px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.first-operator {
    background-color: rgb(240, 172, 62);
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    transition: font-weight 250ms ease-in-out, transform 150ms ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.first-operator:hover,
.first-operator:focus {
    font-weight: 900;
    background: rgb(184, 130, 44);
}

.first-operator:focus {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

.first-operator:active {
    transform: scale(0.96);
}

.second-operator {
    background-color: rgb(171, 186, 192);
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    transition: font-weight 250ms ease-in-out, transform 150ms ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.second-operator:hover,
.second-operator:focus {
    font-weight: 900;
    background: rgb(92, 102, 105);
}

.second-operator:focus {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

.second-operator:active {
    transform: scale(0.96);
}

.number {
    background-color: rgb(93, 93, 93);
    color: rgb(207, 206, 206);
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    transition: font-weight 250ms ease-in-out, transform 150ms ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.number:hover,
.number:focus {
    font-weight: 900;
    background: rgb(59, 59, 59);
}

.number:focus {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

.number:active {
    transform: scale(0.96);
}

#decimal {
    background-color: rgb(93, 93, 93);
    color: rgb(207, 206, 206);
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    transition: font-weight 250ms ease-in-out, transform 150ms ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#decimal:hover,
#decimal:focus {
    font-weight: 900;
    background: rgb(59, 59, 59);
}

#decimal:focus {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

#decimal:active {
    transform: scale(0.96);
}